<mat-toolbar>

  <span>Médicos do Humor</span>
  <span class="example-spacer"></span>
  <!--region trigger menu_sobre-->
  <button [matMenuTriggerFor]="menuSobre" aria-label="Example icon-button with a menu" mat-button>
    <mat-icon>info</mat-icon>
    <span>Sobre</span>
  </button>
  <!--endregion trigger menu_sobre-->

  <!--region trigger menu_faça_parte-->
  <button [matMenuTriggerFor]="menuFacaParte" aria-label="Example icon-button with a menu" mat-button>
    <mat-icon>volunteer_activism</mat-icon>
    <span>Faça Parte</span>
  </button>
  <!--endregion trigger menu_faça_parte-->

  <!--region menu_blog-->
  <button [routerLink]="['/blog']" aria-label="Example icon-button with a menu" mat-button>
    <mat-icon>article</mat-icon>
    <span>Blog</span>
  </button>
  <!--endregion menu_blog-->


  <!--region menu_sobre-->
  <mat-menu #menuSobre="matMenu">
    <button mat-menu-item>
      <mat-icon>groups</mat-icon>
      <span>Os Voluntários</span>
    </button>
    <button mat-menu-item>
      <mat-icon>local_hospital</mat-icon>
      <span>Onde atuamos</span>
    </button>
  </mat-menu>
  <!--endregion menu_sobre-->

  <!--region menu_faça_parte-->
  <mat-menu #menuFacaParte="matMenu">
    <button mat-menu-item>
      <mat-icon>group_add</mat-icon>
      <span>Programa de Voluntários</span>
    </button>
    <button mat-menu-item>
      <mat-icon>business_center</mat-icon>
      <span>Seja um Patrocinador Oficial</span>
    </button>
    <button mat-menu-item>
      <mat-icon>volunteer_activism</mat-icon>
      <span>Doe</span>
    </button>
  </mat-menu>
  <!--endregion menu_faça_parte-->

  <span class="example-spacer"></span>
  <button aria-label="Example icon-button with heart icon" class="example-icon favorite-icon" mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button aria-label="Example icon-button with share icon" class="example-icon" mat-icon-button
          onclick="window.open('https://www.instagram.com/medicosdohumor', '_blank')">
    <mat-icon>share</mat-icon>
  </button>

</mat-toolbar>
